.dynamicFooter {
    display: flex;
    align-items: center;
    height: 1.869rem;
}

.dynamicFooter__section {
    font-size: 0;
}

.dynamicFooter__section--text {
    flex: 1;
    overflow: hidden;
    padding-right: 0.121rem;
    color: var(--dynamic-color);
}

.dynamicFooter__section--logos {
    display: flex;
    align-items: center;
}

.dynamicSocial {
    font-size: 0;    
}

.dynamicSocial--withIcon {
    display: flex;
    align-items: center;
}

.dynamicSocial__icon {
    width: 0.485rem;
    margin-right: 0.097rem;
}

.dynamicSocial__inner {
    overflow: hidden;
    flex: 1;
}

.dynamicSocial__text {
    font-size: 0.485rem;
    font-weight: 400;
    line-height: 1.1em;
    word-break: break-word;
}

.has-support-logo .dynamicSocial__text {
    font-size: 0.388rem;
}

.has-support-logo.has-portrait-support-logo .dynamicSocial__text {
    font-size: 0.437rem;
}

.dynamicSocial__text * {
    line-height: 1.1em;
    font-size: 100%;
}

.dynamicSocial__text--twitter {
    font-weight: 900;
}

.dynamicLogo {
    font-size: 0;
    padding-left: 0.485rem;
}

.has-support-logo .dynamicLogo {
    padding-right: 0.607rem;
    border-right: 0.024rem solid #000;
}

.dynamicLogo__img {
    width: 3.106rem;
    height: 1.869rem;
    object-fit: contain;
}

.has-support-logo .dynamicLogo__img {
    width: 2.233rem;
    height: 1.343rem;
}

.has-support-logo.has-portrait-support-logo .dynamicLogo__img {
    width: 2.475rem;
    height: 1.489rem;
}

.dynamicSupportLogo {
    max-width: 2.306rem;
    max-height: 1.343rem;
    margin-left: 0.607rem;
}

.has-portrait-support-logo .dynamicSupportLogo {
    max-width: 2.063rem;
    max-height: 1.966rem;
}